body {
    background-color:lightyellow;
    font-family:Verdana;
}

h1{
    text-decoration: underline;
    text-align: center; 
     
}
nav{
    text-align: center; 
}



summary{
    text-align: center;
}

footer{
    text-align: center; 

}

